{% extends "base.html" %}

{% block content %}
  <h1>
    {{ newspaper.title }}
{#    <a href="{% url '' pk= %}" class="btn btn-danger link-to-page">#}
{#      Delete#}
{#    </a>#}

{#    <a href="{% url '' pk= %}" class="btn btn-secondary link-to-page">#}
{#      Update#}
{#    </a>#}
  </h1>
  <p>Topic: {{ newspaper.topic.name }}</p>
  <h1>
    Redactors
{#    {% if newspaper in user.newspaper.all %}#}
{#      <a href="{% url 'assgin' pk= %}"#}
{#         class="btn btn-danger link-to-page">Delete me from this newspaper</a>#}
{#    {% else %}#}
{#      <a href="{% url 'assign' pk= %}"#}
{#         class="btn btn-success link-to-page">Assign me to this newspaper</a>#}
{#    {% endif %}#}
  </h1>
  <hr>
  <ul>
    {% for redactor in newspaper.redactors.all %}
      <li>{{ redactor.username }} ({{ redactor.first_name }} {{ redactor.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
