{% extends "base.html" %}

{% block content %}
  <div class="content-container content-animation">
    <div class="row">
      <div class="col-md-9">
        <h1>{{ redactor.first_name }} {{ redactor.last_name }}</h1>
        <h4>Username: {{ redactor.username }}</h4>
      </div>
      <div class="col-md-3 text-right">
        <a href="{% url 'agency:redactor-update' pk=redactor.pk %}" class="btn btn-create mb-2">Update</a>
        <a href="{% url 'agency:redactor-delete' pk=redactor.pk %}" class="btn btn-danger mb-2">Delete</a>
      </div>
    </div>
    <hr>
    <p><strong>Years of experience:</strong> {{ redactor.years_of_experience }}</p>

    <div class="mt-5">
      <h4>Newspapers</h4>
      <div class="list-group">
        {% for newspaper in redactor.newspapers.all %}
          <div class="list-group-item">
            <h5 class="mb-1"><a href="{% url 'agency:newspaper-detail' pk=newspaper.id %}">{{ newspaper.title }}</a></h5>
            <p class="mb-1"><strong>Topic:</strong> {{ newspaper.topic.name }}</p>
            <p class="text-muted mb-0"><strong>ID:</strong> {{newspaper.id}}</p>
          </div>
        {% empty %}
          <div class="list-group-item">No newspapers!</div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

