{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Topic List
    <a href="{% url 'agency:topic-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <button type="submit" class="btn btn-secondary">🔎</button>
  </form>

  <div class="row mt-4">
    {% if topic_list %}
      {% for topic in topic_list %}
        <div class="col-md-4 mb-4">
        {% with topic.name|add:'.jpg' as image_name %}
        {% with 'img/topic_images/'|add:image_name as topic_image %}
          <img src="{% static topic_image %}" alt="{{ topic.name }}" class="img-fluid">
        {% endwith %}
        {% endwith %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ topic.name }}</h5>
              <a href="{% url 'agency:topic-update' pk=topic.id %}" class="btn btn-secondary">Update</a>
              <a href="{% url 'agency:topic-delete' pk=topic.id %}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="col-12">
        <p>There are no topics in the agency.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}
