<div class="sidebar mb-4">
    <h4 class="sidebar-title"><a href="{% url 'agency:index' %}">Home</a></h4>
    {% if user.is_authenticated %}
        <a class="btn btn-create btn-sm mb-3" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="btn btn-create btn-sm mb-3" href="{% url 'login' %}">Login</a>
    {% endif %}
    <ul class="nav flex-column sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agency:newspaper-list' %}">Newspapers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agency:topic-list' %}">Topics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'agency:redactor-list' %}">Redactors</a>
        </li>
    </ul>
</div>
